.hero_header
{
	margin-bottom: 0px !important;
}
.uikit-link-list LI A
{
	margin-left: 2rem;
}
.page_head
{
	font-size: 3rem;
}
.sub_head
{
	font-size: larger;
	color: gray;
}
.api_data IMG
{
	max-width: 100%;
}
:target
{
	outline: 0px !important;
}
.api_nav P
{
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 20px;
}
.api_nav LI
{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: smaller;
}
.api_data
{
	border-left: 1px solid lightgray;
	margin-left: -1px;
}
.api_nav
{
	border-right: 1px solid lightgray;
}
.api_data H2
{
	margin-bottom: 0px;
}
BLOCKQUOTE
{
	background-color: lightgray;
	width: 100%;
	margin: 0px;
}
CODE
{
	background: lightgray;
	font-style: italic;
	color: darkred;
	padding: 4px;
	padding-right: 8px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	.uikit-footer
	{
		border-top: 0px !important;
	}
	.ie_footer_hook
	{
		background-color: #DDD;
		height: 130px;
		border-top: 6px solid #555;
		padding-top: 20px;
	}
}
.detail_pagination
{
	padding-top: 10px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #EEE;
	border-top: 1px solid lightgray;
}
.detail_pagination .prev_detail_page
{
	float: left;
	padding: 20px;
	width: 35%;
}
.detail_pagination .next_detail_page
{
	float: right;
	padding: 20px;
	text-align: right;
	width: 35%;
}
.page_nav_label
{
	font-size: x-large;
	margin-top: -15px;
}
.page_nav_title
{
	font-size: smaller;
}
.next_detail_page .page_nav_label::after
{
	content: ' >';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.prev_detail_page .page_nav_label::before
{
	content: '< ';
	color: #5BCBE3;
	font-weight: bold;
	font-size: xx-large;
}
.api_nav .current_page
{
	background: #25655A;
	padding-left: 10px;
}
.api_nav .current_page A
{
	color: white;
}
.cards
{
	clear: both;
}
.cards__list > .cards__list__item
{
	margin-bottom: 1em;
	margin-top: 1em;
	display: block;
	float: left;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	border: 1px solid #555;
	padding: 0px;
}
.card__headline
{
	display: inline;
	border-bottom: solid 1px #1B7991;
}
.card__headline__wrapper
{
	margin: 1em;
}
.card__text
{
	margin: 1em;
}
.cards__list__item:hover
{
	background: #5BCBE3;
}
.card__wrapper
{
	background: white !important;
	height: 190px;
	/*margin-bottom: 1rem;*/
}
@media screen and (min-width: 768px)
{
	.cards__list__item
	{
		margin-right: 2em;
		/*height: 300px;*/
	}
	.format__support__text
	{
	}
	.format__group
	{
		background: #EEE;
		/*text-align: left;*/
	}
	.format__unsupported:after
	{
		text-align: left !important;
		margin-left: -1.1rem;
	}
	.format__supported:after
	{
		text-align: left !important;
		margin-left: -1.1rem;
	}
	.format__maybe:after
	{
		text-align: left !important;
		margin-left: -1.1rem;
	}
	.format__group .format
	{
		text-align: left;
	}
	.hide_from_desktop
	{
		display: none;
	}
	.collection IMG
	{
		max-width: 100%;
		margin: auto;
		display: block;
	}
	.collection LI:last-child
	{
		padding-bottom: 70px !important;
	}
	HR
	{
		padding-bottom: 50px;
		padding-top: 20px;
	}
}
@media screen and (max-width: 768px)
{
	.detail__row
	{
		display: none;
	}
	.format__support__text
	{
		display: none;
	}
	.card__image
	{
		/*display: none;*/
	}
	.collection IMG
	{
		max-width: 80%;
		margin: auto;
		display: block;
		padding-top: 70px;
	}
	.row UL
	{
		padding-bottom: 0px !important;
	}
	P.collection + UL LI
	{
		width: 85%;
		margin: auto;
	}
}
P.collection + UL
{
	padding-bottom: 50px;
	width: 90%;
	margin: auto;
	padding-left: 0%;
}
P.collection + UL LI
{
	padding-bottom: 20px;
	list-style: none;
}
.format__unsupported:before
{
	content: "✖ ";
	color: red;
	text-align: center;
	/*display: block;*/
}
.format__supported:before
{
	content: "✔ ";
	color: green;
	text-align: center;
	/*display: block;*/
	/*margin-left: 1rem;*/
}
.format__maybe:before
{
	content: "? ";
	font-weight: 900;
	color: orange;
	text-align: center;
	/*display: block;*/
}
.format
{
	text-align: center;
}
.detail__row .format
{
	text-align: left !important;
}
.detail__row .format .format__unsupported:before
{
	content: "✖ ";
	color: red;
}
.detail__row .format .format__supported:before
{
	content: "✔ ";
	color: green;
}
.detail__row .format .format__maybe:before
{
	content: "? ";
	font-weight: bold;
	color: orange;
}
.format__row
{
	border-top: 1px solid #CCC;
}
.format__group
{
	font-weight: bold;
}
.format__row:first-child
{
	border-top: none;
}
.format__row:last-child
{
	margin-bottom: 2rem;
}
.detail__row DIV:first-child
{
	padding-left: 2rem;
	margin-left: 0px;
	text-indent: 0px;
}
.detail__row
{
	font-size: smaller;
	/*margin-left: 1.25em;*/
	/*text-indent: -1.25em;*/
}
.card__image
{
	position: relative;
	/*left: -12px;*/
	width: 100% !important;
}
.coming_soon:after
{
	content: "Coming\00a0Soon!";
	background: #197BBD;
	padding: 0.5em;
	color: white;
	border-radius: 1em;
	position: relative;
	top: -0.5em;
	font-size: x-small;
	font-weight: bold;
	margin-left: 0.5em;
}
.back__link
{
	margin-bottom: 3em;
}
.definition__table TD:first-child
{
	width: 25%;
	background: #EEE;
}
.definition__table
{
	background: #FFF;
}
.definition__table TD
{
	padding: 1rem;
}
.definition__table TR
{
	height: auto;
}
TABLE.horizontal_heading TD:first-child
{
	font-weight: bold;
	width: 25%;
}
TABLE.boston_cube
{
	border: 2px solid black;
	width: 50%;
}
TABLE.boston_cube TR TD:first-child
{
	transform: rotate(270deg);
	font-weight: bold;
	width: 10%;
	text-align: center;
	border: 0px;
}
TABLE.boston_cube TR TD
{
	border: 0.5px solid black;
	border-spacing: 10px;
	border-collapse: separate;
	padding: 10px;
}
.hero_header IMG
{
	width: 25vw;
}
.container LI A
{
	font-size: larger;
}
