<!DOCTYPE html>
<html>
<head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-61222473-22"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-61222473-22');
        </script>



        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Digital Community Playbook</title>

        <link rel="icon" type="image/png" href="https://api.gov.au/img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="https://api.gov.au/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://api.gov.au/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="https://api.gov.au/img/favicon-128.png" sizes="128x128" />

        <link rel="stylesheet" href="/css/furnace.min.css" />
        <link rel="stylesheet" href="/playbook/css/custom.css" />
        <link rel="stylesheet" href="/css/common.css" />

        <!--[if IE 9]>
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <![endif]-->
        <!--[if !IE]><!-->
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <!--<![endif]-->

</head>
<body class="au-body au-grid">


    <section class="phase-banner">
        <div class="wrapper au-grid container container-fluid">
            This is an <a href="https://www.dta.gov.au/standard/service-design-and-delivery-process/" class="dss_stage_link">alpha</a>. If you find something wrong, <a href="https://github.com/apigovau/playbook/issues/new" class="dss_stage_link">let us know</a>
        </div>
    </section>

    <header class="au-grid au-header au-header--hero au-header--dark hero_header" role="banner">
            <div class="container main_header">

                
                
                        <h1 class="au-header-heading">
                            <img class="hero_logo au-responsive-media-img" src="/img/header-logo-agov.png" alt="Australian Government logo" />
                            <a href="/playbook">Digital Community Playbook</a>
                            <span class="badge">ALPHA</span>
                        </h1>
                
            </div>

        </header>

<main class="container">

    {{content}}

    <a class="au-direction-link au-direction-link--left back__link" href="/playbook">Back</a>

</main>


    <footer class="au-footer footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 ie_footer_hook">
                    <img class="au-responsive-media-img coat-of-arms" src="/img/hero_logo.png" alt="api.gov.au logo" />
                    <div class="joint-initiative">
                        A joint initiative of the <a href="https://dta.gov.au">Digital&nbsp;Transformation&nbsp;Agency</a> and <a href="https://sbr.gov.au">Standard&nbsp;Business&nbsp;Reporting</a>
                    </div>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="/disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-sm-8 ie_footer_hook footer-phrase">
                    <p class="copyright">© Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the <a href="https://github.com/apigovau/playbook">MIT license</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!--[if IE 9]><script>hljs.initHighlightingOnLoad();</script><![endif]-->
    <!--[if !IE]><!--><script>hljs.initHighlightingOnLoad();</script><!--<![endif]-->


</body>
</html>
