<!DOCTYPE html>
<html>
<head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Digital Community Playbook</title>

        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-128.png" sizes="128x128" />

        <link rel="stylesheet" href="https://cdn.rawgit.com/dxa/service-catalogue/0c694de/src/main/resources/public/css/main.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="/css/common.css" />

        <!--[if IE 9]>
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <![endif]-->
        <!--[if !IE]><!-->
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-light.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <!--<![endif]-->

</head>
<body class="uikit-body uikit-grid">


    <section class="phase-banner">
        <div class="wrapper uikit-grid container container-fluid">
            This is an <a href="https://www.dta.gov.au/standard/service-design-and-delivery-process/" class="dss_stage_link">alpha</a>. If you find something wrong, <a href="https://github.com/dxa/playbook/issues/new" class="dss_stage_link">let us know</a>
        </div>
    </section>
    <a href="/">
        <header class="uikit-header main_header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="uikit-header-heading landing_heroline">
                            <img class="hero_logo" src="https://cdn.rawgit.com/dxa/service-catalogue/0c694de/src/main/resources/public/img/hero_logo.png" alt="Digital Exchange Australia logo" />
                            Digital Community Playbook
                            <span class="badge">ALPHA</span>
                        </h1>
                        <span class="uikit-header-subline">Helping communities to exchange digital data.</span>
                    </div>
                </div>
            </div>
        </header>
    </a>



<main class="container">
    {{content}}

    <a class="uikit-direction-link uikit-direction-link--left back__link" href="/">Back</a>

</main>



    <footer class="uikit-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 ie_footer_hook">
                    <img class="uikit-responsive-media-img" src="https://cdn.rawgit.com/dxa/service-catalogue/0c694de/src/main/resources/public/img/coat-of-arms.png" alt="Commonwealth Coat of Arms crest logo" />
                </div>
                <div class="col-sm-2 ie_footer_hook">
                    <img class="uikit-responsive-media-img sbr_footer_logo" src="https://cdn.rawgit.com/dxa/service-catalogue/0c694de/src/main/resources/public/img/sbr.png" alt="Standard Business Reporting logo" />
                </div>
                <div class="col-sm-8 ie_footer_hook footer-phrase">This site is part of the Standard Business Reporting program.<br />Visit <a style="font-weight: bold;" href="https://sbr.gov.au/">sbr.gov.au</a> to find out more.</div>
            </div>
        </div>
    </footer>

    <!--[if IE 9]><script>hljs.initHighlightingOnLoad();</script><![endif]-->
    <!--[if !IE]><!--><script>hljs.initHighlightingOnLoad();</script><!--<![endif]-->


</body>
</html>
