<!DOCTYPE html>
<html>
<head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-61222473-22"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-61222473-22');
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Digital Community Playbook</title>

        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="https://cdn.rawgit.com/dxa/playbook/553e580/img/favicon-128.png" sizes="128x128" />

        <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet">
        <link rel="stylesheet" href="/css/furnace.min.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="/css/common.css" />

        <style>
          .Journey {
            display: inline-block;
            height: 1400px;
            position: relative;
            user-select: none;
            max-width:100%;
            max-height: 150vw;
          }

          .Journey-canvas {
            display: block;
            height: 100%;
            visibility: hidden;
          }

          .Journey-svg {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        </style>

</head>
<body class="au-body au-grid">


    <section class="phase-banner">
        <div class="wrapper au-grid container container-fluid">
            This is an <a href="https://www.dta.gov.au/standard/service-design-and-delivery-process/" class="dss_stage_link">alpha</a>. If you find something wrong, <a href="https://github.com/ausdto/ausgovau/issues/new" class="dss_stage_link">let us know</a>
        </div>
    </section>
    <header class="au-grid au-header au-header--hero au-header--dark hero_header" role="banner">
            <div class="container" >

                        <img class="hero_logo au-responsive-media-img" src="/img/header-logo-agov.png" alt="Australian Government logo"/>
                        <h1 class="au-header-heading">
                           Digital Community Playbook 
                            <span class="badge">ALPHA</span>
                            <div class="au-header__subline">
                                    <p>Helping communities to exchange digital data.</p>
                            </div>
                        </h1>
        </header>



<main class="container">
    {{content}}
</main>

<div th:fragment="footer" th:remove="tag">
    <footer class="au-footer footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 ie_footer_hook">
                    <img class="au-responsive-media-img coat-of-arms" src="/img/hero_logo.png" alt="api.gov.au logo" />
                    <div class="joint-initiative">
                        A joint initiative of the <a href="https://dta.gov.au">Digital&nbsp;Transformation&nbsp;Agency</a> and <a href="https://sbr.gov.au">Standard&nbsp;Business&nbsp;Reporting</a>
                    </div>
                </div>
                <div class="col-sm-8 ie_footer_hook footer-phrase">
                    <p class="copyright">© Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the <a href="https://github.com/ausdto/ausgovau">MIT license</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>



</body>
</html>
